.home-content {
    margin-top     : 3%;
    padding-bottom : 5%;
    display        : flex;
    justify-content: space-between;

    .left {
        width: 40%;

        .recipe {
            display        : flex;
            justify-content: space-between;
            padding        : 3%;
            margin-bottom  : 2%;
            border         : 1px solid rgb(195, 193, 193);
            border-radius  : 5px;

            &:hover {
                background-color: rgb(141, 175, 240);
            }

            &.active {
                background-color: cornflowerblue;

                .recipe-left {
                    .name {
                        color: aliceblue;
                    }

                    .description {
                        color: aliceblue;
                    }
                }

            }

            .recipe-left {
                width: 70%;

                .name {
                    font-size  : 1.5em;
                    font-weight: 500;
                }
            }

            .recipe-right {
                width: 25%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .right {
        width: 50%;
    }
}